In [1]:
import pandas as pd

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url='https://www.federalreserve.gov/releases/h3/current/default.htm'
response = requests.get(url)
html = response.content
soup = BeautifulSoup(html, 'html.parser')
table = soup.findAll('table')
html_file = f'<html><body>{table}</body></html>'
df = pd.read_html(html_file)

# Como a função read_html retorna uma lista de DataFrames, basta acessar as tabelas pelos índices da lista.
# Como temos três tabelas na página usamos os índices 0, 1 ou 2 para acessar os DataFrames que buscamos
df[0]

                  Date      Reserve balances required  \
                  Date Reserve balance requirements 1
0              Month 7                        Month 7
1            Aug. 2019                         134639
2           Sept. 2019                         134707
3            Oct. 2019                         134998
4            Nov. 2019                         140705
5            Dec. 2019                         138984
6            Jan. 2020                         144816
7            Feb. 2020                         138370
8            Mar. 2020                         113139
9            Apr. 2020                              0
10            May 2020                              0
11           June 2020                              0
12           July 2020                              0
13           Aug. 2020                              0
14                 NaN                            NaN
15  Two weeks ending 8             Two weeks ending 8
16       July 15, 2020                              0
17       July 29, 2020                              0
18       Aug. 12, 2020                              0
19       Aug. 26, 2020                              0
20       Sept. 9, 2020                              0

                                                               \
   Top of penalty- free band 2 Bottom of penalty- free band 3
0                      Month 7                        Month 7
1                       148114                         121167
2                       148188                         121227
3                       148509                         121489
4                       154787                         126625
5                       152893                         125076
6                       159309                         130326
7                       152218                         124524
8                       124461                         101817
9                            0                              0
10                           0                              0
11                           0                              0
12                           0                              0
13                           0                              0
14                         NaN                            NaN
15          Two weeks ending 8             Two weeks ending 8
16                           0                              0
17                           0                              0
18                           0                              0
19                           0                              0
20                           0                              0

   Reserve balances maintained 4  \
                           Total
0                        Month 7
1                        1520876
2                        1439771
3                        1481513
4                        1529341
5                        1630090
6                        1645384
7                        1656989
8                        2045148
9                        2953586
10                       3217635
11                       3043556
12                       2718529
13                       2799719
14                           NaN
15            Two weeks ending 8
16                       2795785
17                       2623526
18                       2751124
19                       2821740
20                       2854690

                                                                  \
   Balances maintained to satisfy reserve balance requirements 5
0                                             Month 7
1                                              147555
2                                              147498
3                                              148050
4                                              154256
5                                              152562
6                                              158765
7                                              151612
8                                              124147
9                                                   0
10                                                  0
11                                                  0
12                                                  0
13                                                  0
14                                                NaN
15                                 Two weeks ending 8
16                                                  0
17                                                  0
18                                                  0
19                                                  0
20                                                  0


   Balances maintained that exceed the top of the penalty- free band 6
0                                             Month 7
1                                             1373321
2                                             1292273
3                                             1333462
4                                             1375085
5                                             1477528
6                                             1486619
7                                             1505377
8                                             1921000
9                                             2953586
10                                            3217635
11                                            3043556
12                                            2718529
13                                            2799719
14                                                NaN
15                                 Two weeks ending 8
16                                            2795785
17                                            2623526
18                                            2751124
19                                            2821740
20                                            2854690