In [1]:
import pandas as pd

In [2]:
data = [0.5, None, None, 0.54, 0.34, None, None, 0.6, 0.59, None, 0.7]
s = pd.Series(data)
s

0     0.50
1      NaN
2      NaN
3     0.54
4     0.34
5      NaN
6      NaN
7     0.60
8     0.59
9      NaN
10    0.70
dtype: float64

In [3]:
s.fillna(0)

0     0.50
1     0.00
2     0.00
3     0.54
4     0.34
5     0.00
6     0.00
7     0.60
8     0.59
9     0.00
10    0.70
dtype: float64

In [4]:
s

0     0.50
1      NaN
2      NaN
3     0.54
4     0.34
5      NaN
6      NaN
7     0.60
8     0.59
9      NaN
10    0.70
dtype: float64

In [5]:
s.fillna(method = "ffill")

0     0.50
1     0.50
2     0.50
3     0.54
4     0.34
5     0.34
6     0.34
7     0.60
8     0.59
9     0.59
10    0.70
dtype: float64

In [6]:
s.fillna(method = "bfill")

0     0.50
1     0.54
2     0.54
3     0.54
4     0.34
5     0.60
6     0.60
7     0.60
8     0.59
9     0.70
10    0.70
dtype: float64

In [7]:
s.fillna(s.mean())

0     0.500
1     0.545
2     0.545
3     0.540
4     0.340
5     0.545
6     0.545
7     0.600
8     0.590
9     0.545
10    0.700
dtype: float64

In [11]:
s1 = s.fillna(method = "ffill", limit = 1)

In [12]:
s1

0     0.50
1     0.50
2      NaN
3     0.54
4     0.34
5     0.34
6      NaN
7     0.60
8     0.59
9     0.59
10    0.70
dtype: float64

In [14]:
s.fillna(method = "bfill", limit=1)

0     0.50
1      NaN
2     0.54
3     0.54
4     0.34
5      NaN
6     0.60
7     0.60
8     0.59
9     0.70
10    0.70
dtype: float64

## Exercícios

In [15]:
atletas = pd.DataFrame([['Marcos', 9.62], ['Pedro', None], ['João', 9.69], 
                        ['Beto', 9.72], ['Sandro', None], ['Denis', 9.69], 
                        ['Ary', None], ['Carlos', 9.74]], 
                        columns = ['Corredor', 'Melhor Tempo'])
atletas

  Corredor  Melhor Tempo
0   Marcos          9.62
1    Pedro           NaN
2     João          9.69
3     Beto          9.72
4   Sandro           NaN
5    Denis          9.69
6      Ary           NaN
7   Carlos          9.74

In [25]:
 # Atribuia o tempo médio de todos os atletas aos dados faltantes.
    
atletas.fillna(atletas['Melhor Tempo'].mean())

  Corredor  Melhor Tempo
0   Marcos         9.620
1    Pedro         9.692
2     João         9.690
3     Beto         9.720
4   Sandro         9.692
5    Denis         9.690
6      Ary         9.692
7   Carlos         9.740