In [1]:
import pandas as pd

# 1. Conhecendo os dados

In [2]:
dados = pd.read_csv("dados/dados.csv")
dados.head(10)

   UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0  11     0     23    8              12    800  1.603808
1  11     1     23    2              12   1150  1.739790
2  11     1     35    8              15    880  1.760444
3  11     0     46    2               6   3500  1.783158
4  11     1     47    8               9    150  1.690631
5  11     1     34    8              12    790  1.637906
6  11     0     57    8              12   3150  1.570078
7  11     1     60    8              12   1700  1.608495
8  11     1     50    4              14   1800  1.780329
9  11     0     26    8              12   1150  1.793203

## Variáveis qualitativas ordinais

In [3]:
sorted(dados['Anos de Estudo'].unique())

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

## Variáveis qualitativas nominais

In [4]:
sorted(dados['UF'].unique())

[11,
 12,
 13,
 14,
 15,
 16,
 17,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 31,
 32,
 33,
 35,
 41,
 42,
 43,
 50,
 51,
 52,
 53]

In [5]:
sorted(dados['Sexo'].unique())

[0, 1]

In [6]:
sorted(dados['Cor'].unique())

[0, 2, 4, 6, 8]

## Variáveis qualitativas discretas

In [7]:
sorted(dados['Idade'].unique())

[13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 94,
 95,
 97,
 99]

## Observação:  A variável idade pode ser classificada em três diferentes tipos:
     1. QUANTITATIVA DISCRETA - quando representa anos completos (números inteiros)
     2. QUANTITATIVA CONTÍNUA - quando representa a idade exata, sendo representado por frações de anos
     3. QUALITATIVA ORDINAL - quando representa faixas de idade

## Variáveis quantitativas contínuas
        Variáveis que representam uma contagem ou mensuração que assumem valores em uma escala contínual(números reais)

In [8]:
print("De %s até %s metros" % (dados.Altura.min(), (dados.Altura.max())))

De 1.339244614 até 2.028496765 metros

## Distribuição de Frequência

### Distribuição de Frequência para variáveis qualitativas

In [9]:
dados

       UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0      11     0     23    8              12    800  1.603808
1      11     1     23    2              12   1150  1.739790
2      11     1     35    8              15    880  1.760444
3      11     0     46    2               6   3500  1.783158
4      11     1     47    8               9    150  1.690631
...    ..   ...    ...  ...             ...    ...       ...
76835  53     1     46    2              11    812  1.687030
76836  53     0     30    4               7   1500  1.792934
76837  53     0     32    8              12   1300  1.830587
76838  53     0     57    8               4   1500  1.726344
76839  53     0     38    8               4    900  1.658305

[76840 rows x 7 columns]

In [10]:
dados['Sexo'].value_counts()

0    53250
1    23590
Name: Sexo, dtype: int64

In [12]:
dados['Sexo'].value_counts(normalize=True) * 100

0    69.299844
1    30.700156
Name: Sexo, dtype: float64

In [16]:
frequencia = dados['Sexo'].value_counts()

In [17]:
percentual = dados['Sexo'].value_counts(normalize=True) * 100

In [18]:
dist_freq_qualitativa =  pd.DataFrame({'Frequência': frequencia, 'Porcentagem (%)': percentual})

In [19]:
dist_freq_qualitativa

   Frequência  Porcentagem (%)
0       53250        69.299844
1       23590        30.700156

In [23]:
dist_freq_qualitativa.rename(index= {0: 'Masculino', 1: 'Feminino' }, inplace=True)
dist_freq_qualitativa.rename_axis('Sexo', axis='columns', inplace=True)

In [24]:
dist_freq_qualitativa

Sexo       Frequência  Porcentagem (%)
Masculino       53250        69.299844
Feminino        23590        30.700156

In [25]:
dados = pd.DataFrame({'Profissão': [1, 2, 3, 1, 2, 2, 2, 3, 3, 2, 1, 3]})
dados

    Profissão
0           1
1           2
2           3
3           1
4           2
5           2
6           2
7           3
8           3
9           2
10          1
11          3

In [38]:
# 1 para Estatístico
# 2 para Cientista de Dados
# 3 para Programador Python

frequencia = dados['Profissão'].value_counts() # Contando os valores
porcentagem = dados['Profissão'].value_counts(normalize=True) * 100 # Vendo a porcentagem da quantidade de profissões

dado_refinado = pd.DataFrame({'Frequência': frequencia, 'porcentagem (%)': porcentagem}) # Criando um novo data frame

dado_refinado.rename(index = {1:'Estatístico', 2: 'Cientista de Dados', 3:'Programador Python'}, inplace=True) # Renomeando linha
dado_refinado.rename_axis('Profissão', axis='columns', inplace=True) # Renomeando coluna 
dado_refinado # Resultado final

Profissão           Frequência  porcentagem (%)
Cientista de Dados           5        41.666667
Programador Python           4        33.333333
Estatístico                  3        25.000000