In [3]:
import pandas as pd

# 1. Conhecendo os dados

In [7]:
dados = pd.read_csv("dados/dados.csv")
dados.head(10)

   UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0  11     0     23    8              12    800  1.603808
1  11     1     23    2              12   1150  1.739790
2  11     1     35    8              15    880  1.760444
3  11     0     46    2               6   3500  1.783158
4  11     1     47    8               9    150  1.690631
5  11     1     34    8              12    790  1.637906
6  11     0     57    8              12   3150  1.570078
7  11     1     60    8              12   1700  1.608495
8  11     1     50    4              14   1800  1.780329
9  11     0     26    8              12   1150  1.793203

## Variáveis qualitativas ordinais

In [11]:
sorted(dados['Anos de Estudo'].unique())

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

## Variáveis qualitativas nominais

In [13]:
sorted(dados['UF'].unique())

[11,
 12,
 13,
 14,
 15,
 16,
 17,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 31,
 32,
 33,
 35,
 41,
 42,
 43,
 50,
 51,
 52,
 53]

In [14]:
sorted(dados['Sexo'].unique())

[0, 1]

In [15]:
sorted(dados['Cor'].unique())

[0, 2, 4, 6, 8]

## Variáveis qualitativas discretas

In [17]:
sorted(dados['Idade'].unique())

[13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 94,
 95,
 97,
 99]

## Observação:  A variável idade pode ser classificada em três diferentes tipos:
     1. QUANTITATIVA DISCRETA - quando representa anos completos (números inteiros)
     2. QUANTITATIVA CONTÍNUA - quando representa a idade exata, sendo representado por frações de anos
     3. QUALITATIVA ORDINAL - quando representa faixas de idade

## Variáveis quantitativas contínuas
        Variáveis que representam uma contagem ou mensuração que assumem valores em uma escala contínual(números reais)

In [18]:
print("De %s até %s metros" % (dados.Altura.min(), (dados.Altura.max())))

De 1.339244614 até 2.028496765 metros